

h1{
			background-color:black;
			border:white;
			color:white;
			text-align:center;
		}  
		ul{
			text-align:center;
			background-color:black;
			color:white;
			list-style:none;
		}
    h2,p{
		 text-align:center;
		}
	